<footer class="footer mt-auto py-3">
  <div class="container d-flex flexbox-space-around-center mx-auto text-muted">

    <span><a href="/" aria-current="page"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1638313199/PTT_NAV-removebg-preview.png" loading="lazy" width="100" sizes="100px" srcset="https://res.cloudinary.com/dqis0vswg/image/upload/v1638313199/PTT_NAV-removebg-preview.png" alt=""></a></span>
     <div class="flexbox-space-around-center padding-10 footer-links-absolute">
      <div class="footer-links">
        <a href="https://www.instagram.com/placer_it/" target="_blank">
          <div class="footer-individual-link">
            <i class="fab fa-instagram"></i>Instagram
          </div>
        </a>
        <a href="/terms" target="blank">
          <div class="footer-individual-link">
            <i class="fa fa-sticky-note"></i>Terms
          </div>
        </a>
        <a href="mailto:paythetrade@gmail.com" target="_blank">
          <div class="footer-individual-link">
            <i class="fa fa-paper-plane"></i>Contact
          </div>
        </a>
      </div>
    </div>
  </div>

</footer>

