<footer class="footer">
    <div class="container-default w-container">
    <div class="mobile-max-width-660px mobile-center-element">
        <div data-w-id="5fc5392c-c9e7-f4fc-b214-80ad7ef358a2" class="footer-content-top">
        <div class="split-content footer-content-top-left">
            <div class="margin-bottom-16px">
            <a href="../index.html" class="footer-logo-container w-inline-block"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f908152fe499e3_logo-realtor-x-template.svg" alt="Realtor X Webflow Template - Logo" class="footer-logo"></a>
            </div>
            <p class="margin-bottom-32px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna sed tortor nullam vel velit quis enim <span class="text-breaking-no-wrap">et amet.</span></p>
            <div class="flex children-wrap social-media-spacing-16px">
            <div class="social-media-link-wrapper spacing-16px">
                <a href="https://www.facebook.com/" target="_blank" class="social-media-link"></a>
            </div>
            <div class="social-media-link-wrapper spacing-16px">
                <a href="https://twitter.com/" target="_blank" class="social-media-link icon-size-14px"></a>
            </div>
            <div class="social-media-link-wrapper spacing-16px">
                <a href="https://www.instagram.com/" target="_blank" class="social-media-link"></a>
            </div>
            <div class="social-media-link-wrapper spacing-16px">
                <a href="https://www.linkedin.com/" target="_blank" class="social-media-link icon-size-14px"></a>
            </div>
            <div class="social-media-link-wrapper spacing-16px">
                <a href="https://www.youtube.com/" target="_blank" class="social-media-link icon-size-13px"></a>
            </div>
            <div class="social-media-link-wrapper spacing-16px">
                <a href="https://www.whatsapp.com/" target="_blank" class="social-media-link icon-size-17px"></a>
            </div>
            </div>
        </div>
        <div class="split-content footer-content-top-right">
            <div class="h4-size margin-bottom-22px">Subscribe to our newsletter</div>
            <div class="split-newsletter-form-block w-form">
            <form id="split-newsletter-form" name="wf-form-Split-Newsletter-Form" data-name="Split Newsletter Form" method="get" class="split-newsletter-form">
                <div class="margin-bottom-12px"><input type="email" class="input add-icon newsletter-icon w-input" maxlength="256" name="email" data-name="Email" placeholder="Enter your email address" id="email" required=""></div><input type="submit" value="Subscribe" data-wait="Please wait..." class="button-primary bg-primary-1 w-button">
            </form>
            <div class="success-message w-form-done">
                <div class="flex center mobile-vertical-direction"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9083992e499fa_icon-success-message-realtor-template.svg" loading="eager" alt="Success Icon - Realtor X Webflow Template" class="image success-message-icon">
                <div class="success-message-text">Thanks for joining our newsletter.</div>
                </div>
            </div>
            <div class="error-message w-form-fail">
                <div>Oops! Something went wrong.</div>
            </div>
            </div>
        </div>
        </div>
        <div data-w-id="1c9a7cca-90c1-39dd-a53a-9ec7ac46de43" class="horizontal-divider margin-large"></div>
        <div data-w-id="448365f4-5a7f-9f5c-2349-5dce34145a8d" class="footer-content">
        <div class="split-content footer-content-left">
            <div class="footer-menu-wrapper first">
            <div class="h4-size margin-bottom-default">Template pages</div>
            <div class="nav-content">
                <ul role="list" class="list-nav">
                <li class="list-nav-item">
                    <a href="../home-pages/home-v1.html" class="text-100 text-link text-breaking-no-wrap">Home V1</a>
                </li>
                <li class="list-nav-item">
                    <a href="../home-pages/home-v2.html" class="text-100 text-link text-breaking-no-wrap">Home V2</a>
                </li>
                <li class="list-nav-item">
                    <a href="../home-pages/home-v3.html" class="text-100 text-link text-breaking-no-wrap">Home V3</a>
                </li>
                <li class="list-nav-item">
                    <a href="../about.html" class="text-100 text-link text-breaking-no-wrap">About</a>
                </li>
                <li class="list-nav-item">
                    <a href="../properties.html" class="text-100 text-link text-breaking-no-wrap">Properties</a>
                </li>
                <li class="list-nav-item">
                    <a href="https://realtortemplate.webflow.io/location/san-francisco" class="text-100 text-link link-badge w-inline-block">
                    <div class="flex link-badge">
                        <div class="link-badge-text">Properties by location</div>
                        <div class="badge">CMS</div>
                    </div>
                    </a>
                </li>
                <li class="list-nav-item">
                    <a href="https://realtortemplate.webflow.io/property/apartments" class="text-100 text-link link-badge w-inline-block">
                    <div class="flex link-badge">
                        <div class="link-badge-text">Properties by type of property</div>
                        <div class="badge">CMS</div>
                    </div>
                    </a>
                </li>
                <li class="list-nav-item">
                    <a href="https://realtortemplate.webflow.io/property-type/sale" class="text-100 text-link link-badge w-inline-block">
                    <div class="flex link-badge">
                        <div class="link-badge-text">Properties by type</div>
                        <div class="badge">CMS</div>
                    </div>
                    </a>
                </li>
                <li class="list-nav-item">
                    <a href="https://realtortemplate.webflow.io/listing/home-in-downtown-los-angeles" class="text-100 text-link link-badge w-inline-block">
                    <div class="flex link-badge">
                        <div class="link-badge-text">Property single</div>
                        <div class="badge">CMS</div>
                    </div>
                    </a>
                </li>
                <li class="list-nav-item">
                    <a href="../agents.html" class="text-100 text-link text-breaking-no-wrap">Agents</a>
                </li>
                <li class="list-nav-item">
                    <a href="https://realtortemplate.webflow.io/agent/john-carter" class="text-100 text-link link-badge w-inline-block">
                    <div class="flex link-badge">
                        <div class="link-badge-text">Agent single</div>
                        <div class="badge">CMS</div>
                    </div>
                    </a>
                </li>
                </ul>
                <ul role="list" class="list-nav last">
                <li class="list-nav-item">
                    <a href="../post-property.html" class="text-100 text-link text-breaking-no-wrap">Post a free property</a>
                </li>
                <li class="list-nav-item">
                    <a href="../pricing.html" class="text-100 text-link link-badge w-inline-block">
                    <div class="flex link-badge">
                        <div class="link-badge-text">Post a paid property</div>
                        <div class="badge">CMS</div>
                    </div>
                    </a>
                </li>
                <li class="list-nav-item">
                    <a href="../blog-pages/blog-v1.html" class="text-100 text-link text-breaking-no-wrap">Blog V1</a>
                </li>
                <li class="list-nav-item">
                    <a href="../blog-pages/blog-v2.html" class="text-100 text-link text-breaking-no-wrap">Blog V2</a>
                </li>
                <li class="list-nav-item">
                    <a href="../blog-pages/blog-v3.html" class="text-100 text-link text-breaking-no-wrap">Blog V3</a>
                </li>
                <li class="list-nav-item">
                    <a href="https://realtortemplate.webflow.io/blog/heres-how-to-decorate-your-new-home-from-scratch" class="text-100 text-link link-badge w-inline-block">
                    <div class="flex link-badge">
                        <div class="link-badge-text">Blog post</div>
                        <div class="badge">CMS</div>
                    </div>
                    </a>
                </li>
                <li class="list-nav-item">
                    <a href="../contact-pages/contact-v1.html" class="text-100 text-link text-breaking-no-wrap">Contact V1</a>
                </li>
                <li class="list-nav-item">
                    <a href="../contact-pages/contact-v2.html" class="text-100 text-link text-breaking-no-wrap">Contact V2</a>
                </li>
                <li class="list-nav-item">
                    <a href="../contact-pages/contact-v3.html" class="text-100 text-link text-breaking-no-wrap">Contact V3</a>
                </li>
                <li class="list-nav-item">
                    <a href="../faqs.html" class="text-100 text-link text-breaking-no-wrap">FAQs</a>
                </li>
                <li class="list-nav-item">
                    <a href="../coming-soon.html" class="text-100 text-link text-breaking-no-wrap">Coming soon</a>
                </li>
                <li class="list-nav-item">
                    <a href="../subscribe-page.html" class="text-100 text-link text-breaking-no-wrap">Subscribe page</a>
                </li>
                </ul>
            </div>
            </div>
            <div class="footer-menu-wrapper last">
            <div class="h4-size margin-bottom-default">Utility pages</div>
            <div class="nav-content">
                <ul role="list" class="list-nav last">
                <li class="list-nav-item">
                    <a href="../utility-pages/start-here.html" class="text-100 text-link text-breaking-no-wrap">Start here</a>
                </li>
                <li class="list-nav-item">
                    <a href="../utility-pages/style-guide.html" class="text-100 text-link text-breaking-no-wrap">Style guide</a>
                </li>
                <li class="list-nav-item">
                    <a href="https://realtortemplate.webflow.io/401" class="text-100 text-link text-breaking-no-wrap">Password protected</a>
                </li>
                <li class="list-nav-item">
                    <a href="https://realtortemplate.webflow.io/404" class="text-100 text-link text-breaking-no-wrap">404 Not found</a>
                </li>
                <li class="list-nav-item">
                    <a href="../utility-pages/licenses.html" class="text-100 text-link text-breaking-no-wrap">Licenses</a>
                </li>
                <li class="list-nav-item">
                    <a href="../utility-pages/changelog.html" class="text-100 text-link text-breaking-no-wrap">Changelog</a>
                </li>
                </ul>
            </div>
            </div>
        </div>
        <div class="split-content footer-content-right">
            <div class="h4-size margin-bottom-default">Explore by city</div>
            <div class="w-layout-grid grid-1-column gap-20px">
            <a href="https://realtortemplate.webflow.io/location/san-diego" class="link-content flex mobile-478px-and-down-children-wrap w-inline-block">
                <div class="image-wrapper borders-radius-18px city-image"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f90824a8e499f9_image-1-city-realtor-template.svg" loading="eager" alt="Santa Monica - Realtor X Webflow Template" class="image cover"></div>
                <div class="city-content">
                <div class="margin-bottom-9px">
                    <div class="h5-size flex">
                    <div>San Diego, CA</div>
                    <div class="space _12px"></div>
                    <div class="arrow-icon"></div>
                    </div>
                </div>
                <p class="margin-bottom-0px">Lorem ipsum dolor sit amet cons ectetur adipiscing <span class="text-breaking-no-wrap">elit mag.</span></p>
                </div>
            </a>
            <a href="https://realtortemplate.webflow.io/location/san-francisco" class="link-content flex mobile-478px-and-down-children-wrap w-inline-block">
                <div class="image-wrapper borders-radius-18px city-image"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f908c7e3e499f8_image-2-city-realtor-template.svg" loading="eager" alt="San Francisco - Realtor X Webflow Template" class="image cover"></div>
                <div class="city-content">
                <div class="margin-bottom-9px">
                    <div class="h5-size flex">
                    <div>San Francisco, CA</div>
                    <div class="space _12px"></div>
                    <div class="arrow-icon"></div>
                    </div>
                </div>
                <p class="margin-bottom-0px">Lorem ipsum dolor sit amet cons ectetur adipiscing <span class="text-breaking-no-wrap">elit mag.</span></p>
                </div>
            </a>
            <a href="https://realtortemplate.webflow.io/location/los-angeles" class="link-content flex mobile-478px-and-down-children-wrap w-inline-block">
                <div class="image-wrapper borders-radius-18px city-image"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9084b81e499f7_image-3-city-realtor-template.svg" loading="eager" alt="Los Angeles - Realtor X Webflow Template" class="image cover"></div>
                <div class="city-content">
                <div class="margin-bottom-9px">
                    <div class="h5-size flex">
                    <div>Los Angeles, CA</div>
                    <div class="space _12px"></div>
                    <div class="arrow-icon"></div>
                    </div>
                </div>
                <p class="margin-bottom-0px">Lorem ipsum dolor sit amet cons ectetur adipiscing <span class="text-breaking-no-wrap">elit mag.</span></p>
                </div>
            </a>
            </div>
        </div>
        </div>
        <div data-w-id="2c7bb953-19e4-37e8-9704-23d82be9185e" class="horizontal-divider margin-top-large"></div>
        <div data-w-id="c8f7715e-98a4-26c7-1f78-d290db08fe91" class="footer-content-bottom">
        <div class="text-center">Copyright © Realtor X | Designed by <a href="https://brixtemplates.com/" target="_blank" class="text-decoration-none">BRIX Templates</a> - Powered by <a href="https://webflow.com/" target="_blank" class="text-decoration-none">Webflow</a>
        </div>
        </div>
    </div>
    </div>
</footer>