<!-- <footer class="footer mt-auto py-3">
  <div class="container d-flex flexbox-space-around-center mx-auto text-muted">

    <span><a href="/" aria-current="page"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1638313199/PTT_NAV-removebg-preview.png" loading="lazy" width="100" sizes="100px" srcset="https://res.cloudinary.com/dqis0vswg/image/upload/v1638313199/PTT_NAV-removebg-preview.png" alt=""></a></span>
     <div class="flexbox-space-around-center padding-10 footer-links-absolute">
      <div class="footer-links">
        <a href="https://www.instagram.com/paythetrade/" target="_blank">
          <div class="footer-individual-link">
            <i class="fab fa-instagram"></i>Instagram
          </div>
        </a>
        <a href="/terms" target="blank">
          <div class="footer-individual-link">
            <i class="fa fa-sticky-note"></i>Terms
          </div>
        </a>
        <a href="mailto:contact@paythetrade.co.uk" target="_blank">
          <div class="footer-individual-link">
            <i class="fa fa-paper-plane"></i>Contact
          </div>
        </a>
      </div>
    </div>
  </div>

</footer> -->
  <div class="load-third">
    <div>
      <div class="tile-section wf-section">
        <div class="tile-section-inner footer">
          <div id="w-node-f0f47082-acb6-fc77-e8a6-8e45b72e2b59-b72e2b56">
            <a href="#" class="footer-logo-link w-inline-block"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1647204658/Copy_of_Truepenny_Trades-removebg-preview.png" alt="" id="footer-logo-image"></a>
            <div>Tradesmen vetted by tradesmen.</div>
            <div class="social-icons">
              <a href="https://instagram.com" target="_blank" class="social-link w-inline-block"><i class="fa-brands fa-instagram white-font"></i></a>
              <a href="https://instagram.com" target="_blank" class="social-link w-inline-block"><i class="fa-solid fa-envelope-open-text white-font"></i></a>
         <!--      <a href="https://linkedin.com" target="_blank" class="social-link w-inline-block"><img src="images/icon-LinkedIn-white.svg" alt=""></a>
              <a href="https://youtube.com" target="_blank" class="social-link w-inline-block"><img src="images/icon-YouTube-white.svg" alt=""></a>
              <a href="https://dribbble.com" target="_blank" class="social-link w-inline-block"><img src="images/icon-Dribbble-white.svg" alt=""></a> -->
            </div>
          </div>
          <div>
            <h5>Links</h5>
            <div class="vertical-link-menu">
              <a href="#" class="nav-link text-white">Find tradesmen</a>
              <a href="product/customers.html" class="nav-link text-white">Tradesmen sign up</a>
       <!--        <a href="#" class="nav-link text-white">Privacy</a>
              <a href="#" class="nav-link text-white">Terms</a> -->
<!--               <a href="product/reviews.html" class="nav-link text-white">Contact</a> -->
            <!--   <a href="product/download.html" class="nav-link text-white">Download</a> -->
<!--               <a href="product/arrange-demo.html" class="nav-link text-white">Demo</a>
              <a href="#" class="nav-link text-white">View All</a> -->
            </div>
          </div>
          <div>
            <h5>Legal</h5>
            <div class="vertical-link-menu">
              <a href="#" class="nav-link text-white">Privacy</a>
              <a href="#" class="nav-link text-white">Terms</a>
             <!--  <a href="company/about.html" class="nav-link text-white">About</a>
              <a href="company/blog.html" class="nav-link text-white">Blog</a>
              <a href="company/careers.html" class="nav-link text-white">Careers</a>
              <div class="link-with-avatars">
                <a href="company/contact.html" class="nav-link text-white">Contact</a>
                <div class="small-avatar-group"><img src="images/avatar-04.jpg" alt="" class="tiny-avatar"><img src="images/avatar-01.jpg" alt="" class="tiny-avatar overlap"><img src="images/avatar-02.jpg" alt="" class="tiny-avatar overlap"></div>
              </div>
              <a href="product/legal.html" class="nav-link text-white">Legal</a> -->
            </div>
          </div>
          <div>
            <h5>Contact</h5>
            <div class="vertical-link-menu">
              <a href="product/reviews.html" class="nav-link text-white">Get in touch</a>
              <a href="product/reviews.html" class="nav-link text-white">Instagram</a>
      <!--         <a href="template/style-guide.html" class="nav-link text-white">Style Guide</a>
              <a href="template/getting-started.html" class="nav-link text-white">Getting Started</a>
              <a href="template/changelog.html" class="nav-link text-white">Changelog</a>
              <a href="template/licensing.html" class="nav-link text-white">Licenses</a>
              <a href="#" class="nav-link text-white">More Templates</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
     <!--    <div class="small-text">Tiles is powered by <a href="https://webflow.com" target="_blank">Webflow</a>
        </div>
        <a href="https://mmra.re/portfolio" target="_blank" class="rounded-link w-inline-block">
          <div class="arrow-link">
            <div>More Templates</div><img src="images/icon-arrow-right.svg" alt="" class="icon-link-image">
          </div>
        </a> -->
      </div>
    </div>
