<footer class="footer">
    <div class="container-default w-container">
    <div class="mobile-max-width-660px mobile-center-element">
        <div data-w-id="5fc5392c-c9e7-f4fc-b214-80ad7ef358a2" class="footer-content-top">
        <div class="split-content footer-content-top-left">
            <div class="margin-bottom-16px">
            <a href="/" class="footer-logo-container w-inline-block"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1649776295/PlaceX.png" alt="PlaceX Logo" class="footer-logo"></a>
            </div>
            <p class="margin-bottom-32px">Delivering the benefit of workation.</p>
            <div class="flex children-wrap social-media-spacing-16px">
  <!--             <div class="social-media-link-wrapper spacing-16px">
                  <a href="https://www.facebook.com/" target="_blank" class="social-media-link"></a>
              </div>
              <div class="social-media-link-wrapper spacing-16px">
                  <a href="https://twitter.com/" target="_blank" class="social-media-link icon-size-14px"></a>
              </div> -->
              <div class="social-media-link-wrapper spacing-16px">
                  <a href="https://www.instagram.com/the_place_x" target="_blank" class="social-media-link"></a>
              </div>
              <div class="social-media-link-wrapper spacing-16px">
                  <a href="/privacy" target="_blank" class="social-media-link icon-size-14px"><i class="fa-solid fa-building-shield"></i></a>
              </div>
   <!--            <div class="social-media-link-wrapper spacing-16px">
                  <a href="https://www.youtube.com/" target="_blank" class="social-media-link icon-size-13px"></a>
              </div>
              <div class="social-media-link-wrapper spacing-16px">
                  <a href="https://www.whatsapp.com/" target="_blank" class="social-media-link icon-size-17px"></a>
            </div> -->
            </div>
        </div>
        <div class="split-content footer-content-top-right">
          <div class="h4-size margin-bottom-22px">Subscribe to our newsletter</div>
            <div class="split-newsletter-form-block w-form">
              <%= form_for EmailSubscribe.new, data: { name: "Split Newsletter Form" }, html: {class: "split-newsletter-form", id: "split-newsletter-form", name: "wf-form-Split-Newsletter-Form"} do |f| %>
                <div class="margin-bottom-12px">
                  <%= f.email_field :email, class: 'input add-icon email-icon w-input', placeholder: "Email", data_name: "Email", id: "email", :required => true %>
                </div>
                  <%= f.submit "Subscribe", class: "button-primary bg-primary-1 w-button" %>
              <% end %>
            </div>
          </div>
        </div>

    </div>
    </div>
</footer>
