<div class="page-wrapper">
    <div data-collapse="medium" data-animation="default" data-duration="300" data-w-id="58db7844-5919-d71b-dd74-2323ed8dffe9" data-easing="ease" data-easing2="ease" role="banner" class="header w-nav">
      <div class="container-default w-container">
        <div class="header-wrapper">
          <div class="split-content header-right">
            <a href="/" class="brand w-nav-brand"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1649776295/PlaceX.png" alt="PlaceX logo" class="header-logo"></a>
          </div>
          <div class="split-content header-center">
            <nav role="navigation" class="nav-menu w-nav-menu">
              <ul role="list" class="header-navigation">
 <!--                <li class="nav-item-wrapper button-mobile">
                  <a href="../post-property.html" class="button-primary header-button-mobile full-width w-button">Post a property</a>
                </li> -->
              </ul>
            </nav>
            <a href="../post-property.html" class="button-primary small header-button w-button">Get In Touch</a>
          </div>
        </div>
      </div>
    </div>
