<div class="page-wrapper">
    <div data-collapse="medium" data-animation="default" data-duration="300" data-w-id="58db7844-5919-d71b-dd74-2323ed8dffe9" data-easing="ease" data-easing2="ease" role="banner" class="header w-nav">
      <div class="container-default w-container">
        <div class="header-wrapper">
          <div class="split-content header-right">
            <a href="../index.html" class="brand w-nav-brand"><img src="../images/logo-realtor-x-template.svg" alt="Realtor X Webflow Template - Logo" class="header-logo"></a>
          </div>
          <div class="split-content header-center">
            <nav role="navigation" class="nav-menu w-nav-menu">
              <ul role="list" class="header-navigation">
                <li class="nav-item-wrapper first">
                  <a href="../index.html" class="text-200 text-link header-nav">Home</a>
                </li>
                <li class="nav-item-wrapper">
                  <a href="../properties.html" class="text-200 text-link header-nav">Properties</a>
                </li>
                <li class="nav-item-wrapper">
                  <a href="../about.html" class="text-200 text-link header-nav">About</a>
                </li>
                <li class="nav-item-wrapper">
                  <div data-hover="true" data-delay="0" data-w-id="9bdba657-0d47-5a1b-a6be-d3fd68486a3a" class="header-dropdown w-dropdown">
                    <div class="text-200 text-link header-dropdown-nav w-dropdown-toggle">
                      <div>Pages</div>
                      <div class="dropdown-arrow"></div>
                    </div>
                    <nav class="header-dropdown-list w-dropdown-list">
                      <div class="dropdown-nav-main-wrapper">
                        <div class="dropdown-nav-pages-wrapper">
                          <div class="h4-size margin-bottom-default">Template pages</div>
                          <div class="nav-content">
                            <ul role="list" class="list-nav">
                              <li class="list-nav-item">
                                <a href="../home-pages/home-v1.html" class="text-100 text-link text-breaking-no-wrap">Home V1</a>
                              </li>
                              <li class="list-nav-item">
                                <a href="../home-pages/home-v2.html" class="text-100 text-link text-breaking-no-wrap">Home V2</a>
                              </li>
                              <li class="list-nav-item">
                                <a href="../home-pages/home-v3.html" class="text-100 text-link text-breaking-no-wrap">Home V3</a>
                              </li>
                              <li class="list-nav-item">
                                <a href="../about.html" class="text-100 text-link text-breaking-no-wrap">About</a>
                              </li>
                              <li class="list-nav-item">
                                <a href="../properties.html" class="text-100 text-link text-breaking-no-wrap">Properties</a>
                              </li>
                              <li class="list-nav-item">
                                <a href="https://realtortemplate.webflow.io/location/san-francisco" class="text-100 text-link link-badge w-inline-block">
                                  <div class="flex link-badge">
                                    <div class="link-badge-text">Properties by location</div>
                                    <div class="badge">CMS</div>
                                  </div>
                                </a>
                              </li>
                              <li class="list-nav-item">
                                <a href="https://realtortemplate.webflow.io/property/apartments" class="text-100 text-link link-badge w-inline-block">
                                  <div class="flex link-badge">
                                    <div class="link-badge-text">Properties by type of property</div>
                                    <div class="badge">CMS</div>
                                  </div>
                                </a>
                              </li>
                              <li class="list-nav-item">
                                <a href="https://realtortemplate.webflow.io/property-type/sale" class="text-100 text-link link-badge w-inline-block">
                                  <div class="flex link-badge">
                                    <div class="link-badge-text">Properties by type</div>
                                    <div class="badge">CMS</div>
                                  </div>
                                </a>
                              </li>
                              <li class="list-nav-item">
                                <a href="https://realtortemplate.webflow.io/listing/home-in-downtown-los-angeles" class="text-100 text-link link-badge w-inline-block">
                                  <div class="flex link-badge">
                                    <div class="link-badge-text">Property single</div>
                                    <div class="badge">CMS</div>
                                  </div>
                                </a>
                              </li>
                              <li class="list-nav-item">
                                <a href="../agents.html" class="text-100 text-link text-breaking-no-wrap">Agents</a>
                              </li>
                              <li class="list-nav-item">
                                <a href="https://realtortemplate.webflow.io/agent/john-carter" class="text-100 text-link link-badge w-inline-block">
                                  <div class="flex link-badge">
                                    <div class="link-badge-text">Agent single</div>
                                    <div class="badge">CMS</div>
                                  </div>
                                </a>
                              </li>
                            </ul>
                            <ul role="list" class="list-nav last">
                              <li class="list-nav-item">
                                <a href="../post-property.html" class="text-100 text-link text-breaking-no-wrap">Post a free property</a>
                              </li>
                              <li class="list-nav-item">
                                <a href="../pricing.html" class="text-100 text-link link-badge w-inline-block">
                                  <div class="flex link-badge">
                                    <div class="link-badge-text">Post a paid property</div>
                                    <div class="badge">CMS</div>
                                  </div>
                                </a>
                              </li>
                              <li class="list-nav-item">
                                <a href="../blog-pages/blog-v1.html" class="text-100 text-link text-breaking-no-wrap">Blog V1</a>
                              </li>
                              <li class="list-nav-item">
                                <a href="../blog-pages/blog-v2.html" class="text-100 text-link text-breaking-no-wrap">Blog V2</a>
                              </li>
                              <li class="list-nav-item">
                                <a href="../blog-pages/blog-v3.html" class="text-100 text-link text-breaking-no-wrap">Blog V3</a>
                              </li>
                              <li class="list-nav-item">
                                <a href="https://realtortemplate.webflow.io/blog/heres-how-to-decorate-your-new-home-from-scratch" class="text-100 text-link link-badge w-inline-block">
                                  <div class="flex link-badge">
                                    <div class="link-badge-text">Blog post</div>
                                    <div class="badge">CMS</div>
                                  </div>
                                </a>
                              </li>
                              <li class="list-nav-item">
                                <a href="../contact-pages/contact-v1.html" class="text-100 text-link text-breaking-no-wrap">Contact V1</a>
                              </li>
                              <li class="list-nav-item">
                                <a href="../contact-pages/contact-v2.html" class="text-100 text-link text-breaking-no-wrap">Contact V2</a>
                              </li>
                              <li class="list-nav-item">
                                <a href="../contact-pages/contact-v3.html" class="text-100 text-link text-breaking-no-wrap">Contact V3</a>
                              </li>
                              <li class="list-nav-item">
                                <a href="../faqs.html" class="text-100 text-link text-breaking-no-wrap">FAQs</a>
                              </li>
                              <li class="list-nav-item">
                                <a href="../coming-soon.html" class="text-100 text-link text-breaking-no-wrap">Coming soon</a>
                              </li>
                              <li class="list-nav-item">
                                <a href="../subscribe-page.html" class="text-100 text-link text-breaking-no-wrap">Subscribe page</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="dropdown-nav-pages-wrapper last">
                          <div class="h4-size margin-bottom-default">Utility pages</div>
                          <div class="nav-content">
                            <ul role="list" class="list-nav last">
                              <li class="list-nav-item">
                                <a href="../utility-pages/start-here.html" class="text-100 text-link text-breaking-no-wrap">Start here</a>
                              </li>
                              <li class="list-nav-item">
                                <a href="../utility-pages/style-guide.html" class="text-100 text-link text-breaking-no-wrap">Style guide</a>
                              </li>
                              <li class="list-nav-item">
                                <a href="https://realtortemplate.webflow.io/401" class="text-100 text-link text-breaking-no-wrap">Password protected</a>
                              </li>
                              <li class="list-nav-item">
                                <a href="https://realtortemplate.webflow.io/404" class="text-100 text-link text-breaking-no-wrap">404 Not found</a>
                              </li>
                              <li class="list-nav-item">
                                <a href="../utility-pages/licenses.html" class="text-100 text-link text-breaking-no-wrap">Licenses</a>
                              </li>
                              <li class="list-nav-item">
                                <a href="../utility-pages/changelog.html" class="text-100 text-link text-breaking-no-wrap">Changelog</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </nav>
                  </div>
                </li>
                <li class="nav-item-wrapper button-mobile">
                  <a href="../post-property.html" class="button-primary header-button-mobile full-width w-button">Post a property</a>
                </li>
              </ul>
            </nav>
            <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="modal" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper cart">
              <a href="#" data-node-type="commerce-cart-open-link" class="w-commerce-commercecartopenlink text-200 text-link header-cart-nav w-inline-block">
                <div class="w-inline-block">Cart(</div>
                <div class="w-commerce-commercecartopenlinkcount text-200 text-primary-1 cart-quantity">0</div>
                <div>)</div>
              </a>
              <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-modal cart-wrapper">
                <div data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer cart-container">
                  <div class="w-commerce-commercecartheader cart-header">
                    <h4 class="w-commerce-commercecartheading">Your Cart</h4>
                    <a href="#" data-node-type="commerce-cart-close-link" class="w-commerce-commercecartcloselink cart-close-button w-inline-block"><svg width="16px" height="16px" viewbox="0 0 16 16">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g fill-rule="nonzero" fill="#333333">
                            <polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon>
                          </g>
                        </g>
                      </svg></a>
                  </div>
                  <div class="w-commerce-commercecartformwrapper">
                    <form data-node-type="commerce-cart-form" style="display:none" class="w-commerce-commercecartform">
                      <script type="text/x-wf-template" id="wf-template-86d01ae5-f4f5-e0fe-d623-45a4fc1f5cf4"></script>
                      <div class="w-commerce-commercecartlist cart-list" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-86d01ae5-f4f5-e0fe-d623-45a4fc1f5cf4"></div>
                      <div class="w-commerce-commercecartfooter cart-footer">
                        <div class="w-commerce-commercecartlineitem cart-line-item">
                          <div>Subtotal</div>
                          <div class="w-commerce-commercecartordervalue cart-subtotal"></div>
                        </div>
                        <div>
                          <div data-node-type="commerce-cart-quick-checkout-actions">
                            <a data-node-type="commerce-cart-apple-pay-button" style="background-image:-webkit-named-image(apple-pay-logo-white);background-size:100% 50%;background-position:50% 50%;background-repeat:no-repeat" class="w-commerce-commercecartapplepaybutton apple-pay">
                              <div></div>
                            </a>
                            <a data-node-type="commerce-cart-quick-checkout-button" style="display:none" class="w-commerce-commercecartquickcheckoutbutton"><svg class="w-commerce-commercequickcheckoutgoogleicon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewbox="0 0 16 16">
                                <defs>
                                  <polygon id="google-mark-a" points="0 .329 3.494 .329 3.494 7.649 0 7.649"></polygon>
                                  <polygon id="google-mark-c" points=".894 0 13.169 0 13.169 6.443 .894 6.443"></polygon>
                                </defs>
                                <g fill="none" fill-rule="evenodd">
                                  <path fill="#4285F4" d="M10.5967,12.0469 L10.5967,14.0649 L13.1167,14.0649 C14.6047,12.6759 15.4577,10.6209 15.4577,8.1779 C15.4577,7.6339 15.4137,7.0889 15.3257,6.5559 L7.8887,6.5559 L7.8887,9.6329 L12.1507,9.6329 C11.9767,10.6119 11.4147,11.4899 10.5967,12.0469"></path>
                                  <path fill="#34A853" d="M7.8887,16 C10.0137,16 11.8107,15.289 13.1147,14.067 C13.1147,14.066 13.1157,14.065 13.1167,14.064 L10.5967,12.047 C10.5877,12.053 10.5807,12.061 10.5727,12.067 C9.8607,12.556 8.9507,12.833 7.8887,12.833 C5.8577,12.833 4.1387,11.457 3.4937,9.605 L0.8747,9.605 L0.8747,11.648 C2.2197,14.319 4.9287,16 7.8887,16"></path>
                                  <g transform="translate(0 4)">
                                    <mask id="google-mark-b" fill="#fff">
                                      <use xlink:href="#google-mark-a"></use>
                                    </mask>
                                    <path fill="#FBBC04" d="M3.4639,5.5337 C3.1369,4.5477 3.1359,3.4727 3.4609,2.4757 L3.4639,2.4777 C3.4679,2.4657 3.4749,2.4547 3.4789,2.4427 L3.4939,0.3287 L0.8939,0.3287 C0.8799,0.3577 0.8599,0.3827 0.8459,0.4117 C-0.2821,2.6667 -0.2821,5.3337 0.8459,7.5887 L0.8459,7.5997 C0.8549,7.6167 0.8659,7.6317 0.8749,7.6487 L3.4939,5.6057 C3.4849,5.5807 3.4729,5.5587 3.4639,5.5337" mask="url(#google-mark-b)"></path>
                                  </g>
                                  <mask id="google-mark-d" fill="#fff">
                                    <use xlink:href="#google-mark-c"></use>
                                  </mask>
                                  <path fill="#EA4335" d="M0.894,4.3291 L3.478,6.4431 C4.113,4.5611 5.843,3.1671 7.889,3.1671 C9.018,3.1451 10.102,3.5781 10.912,4.3671 L13.169,2.0781 C11.733,0.7231 9.85,-0.0219 7.889,0.0001 C4.941,0.0001 2.245,1.6791 0.894,4.3291" mask="url(#google-mark-d)"></path>
                                </g>
                              </svg><svg class="w-commerce-commercequickcheckoutmicrosofticon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 16 16">
                                <g fill="none" fill-rule="evenodd">
                                  <polygon fill="#F05022" points="7 7 1 7 1 1 7 1"></polygon>
                                  <polygon fill="#7DB902" points="15 7 9 7 9 1 15 1"></polygon>
                                  <polygon fill="#00A4EE" points="7 15 1 15 1 9 7 9"></polygon>
                                  <polygon fill="#FFB700" points="15 15 9 15 9 9 15 9"></polygon>
                                </g>
                              </svg>
                              <div>Pay with browser.</div>
                            </a>
                          </div>
                          <a href="../checkout.html" value="Continue to Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton button-primary bg-primary-1 full-width" data-loading-text="Hang Tight...">Continue to Checkout</a>
                        </div>
                      </div>
                    </form>
                    <div class="w-commerce-commercecartemptystate empty-state cart-empty">
                      <div class="margin-bottom-40px">No items found.</div>
                      <a href="../pricing.html" class="button-primary bg-primary-1 w-button">Purchase credits</a>
                    </div>
                    <div style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate error-message cart-error">
                      <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue." data-w-cart-subscription_error-error="Cart failed.">Product is not available in this quantity.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="split-content header-left">
            <div data-hover="false" data-delay="0" data-w-id="f427ea1c-6c32-cc33-cea1-8174200637d3" class="header-search w-dropdown">
              <div class="header-search-toggle w-dropdown-toggle">
                <div class="filter-search-header-icon"></div>
              </div>
              <nav class="header-search-dropdown-list w-dropdown-list">
                <div class="card style-2">
                  <form action="/search" class="filter-search-header-wrapper w-form"><input type="search" class="input filter-search-header w-input" maxlength="256" name="query" placeholder="Search for properties" id="search" required=""><input type="submit" value="Search" class="button-primary bg-primary-1 filter-search-header w-button"></form>
                </div>
              </nav>
            </div>
            <a href="../post-property.html" class="button-primary small header-button w-button">Post a property</a>
            <div class="menu-button w-nav-button">
              <div class="header-menu-button-icon-wrapper">
                <div class="icon-wrapper">
                  <div class="header-menu-button-icon-top"></div>
                  <div class="header-menu-button-icon-medium"></div>
                  <div class="header-menu-button-icon-bottom"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
