<div class="container padding-top-40 padding-bottom-40">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What Is Pay The Trade?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Pay The Trade is a new and secure way to pay tradesmen or for tradesmen to request payment from their customers. It ensures trust in the transaction through providing a secure online deposit box that customers pay into ahead of work commencing. The money is then released by the customer either at agreed milestones or after the work is completed.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Why Use Pay The Trade?
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Pay The Trade protects customers from rogue tradesmen and tradesmen from delinquent customers. Avoid difficult situations where either party does not fulfil their obligations and ensure the transaction goes as smooth as possible.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How Does It Work For Customers?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Customers can avoid getting stung by 'rogue' tradesmen by using Pay The Trade, any upstanding tradesman should agree to use the service! Before starting a job payment agree terms with the tradesman, including any milestones when you will release money and be sure to write these down in case of disputes. Once agreed you can start a job by selecting 'Start Job Payment' on the Pay The Trade website and filling out the details. You will be required to pay the whole amount in and will need to add 1% (our customer fee) to the total. Once done, an email will be sent to the tradesman for them to set up an account and work can commence. Once you are happy with the work done you can release the money. In the event of a dispute please try and resolve with your tradesman in person however if agreement can not be reached, Pay The Trade will step in to help resolve it.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How Does It Work For Tradesmen?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Tradesmen can avoid non-payment and can see before commencing work the customer has all the money using Pay The Trade. Agree with the customer upfront to use the service and as the cost is only 1% more for the added security any upstanding customer should be happy to use the service! From there agree the terms with the customer including any milestones when money will be released. Once agreed you can create a job payment through the site or by loging in if you have already created an account. An email will be sent to the customer who will then be able to add the whole amount for the job, or you can ask them to scan a QR code to pay. Customers will release the money once the work is completed or milestones are hit, you will be able to withdraw 1% less than the customer has put in which is our fee. In the event of a dispute please try and resolve with your customer in person however if agreement can not be reached, Pay The Trade will step in to help resolve it. You can use Pay The Trade for all your customers by easily creating new payments from your dashboard to make every job payment secure.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          What Happens In A Dispute?
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Both parties are encouraged to resolve disputes in person without using Pay The Trade dispute resolution service. However in the event of a dispute that can not be resolved Pay The Trade will step in and decide to release the money to the client or the tradesman. Remember to keep as much evidence as possible including scope of work, materials to be used etc. If you are in dispute you can contact us any time on the site chat.
        </div>
      </div>
    </div>

  </div>
</div>
