
  <div class="load-first">
    <div class="tile-section wf-section">
      <div class="tile-section-inner" id="find-trades">
        <div class="large-text">Tradesmen, vetted by tradesmen.</div>
        <div class="w-layout-grid grid-halves">
          <div id="w-node-_0de6aa8e-95d6-3ea3-f622-e55ac96604cd-6cf0eeae" class="hero-contents-wrapper">
            <div class="hero-contents">
              <div class="section-title reduced-margin">
                <h1 class="display-heading">Find a local tradesman.</h1>
              </div>
              <div class="form-block w-form">
                <form id="wf-form-Hero-Sign-Up-Form" name="wf-form-Hero-Sign-Up-Form" data-name="Hero Sign Up Form" method="get" class="form-block"><select id="Category-2" name="Category" data-name="Category" class="form-input trade-category w-select">
                    <option value="">Select Trade</option>
                    <option value="First">First choice</option>
                    <option value="Second">Second choice</option>
                    <option value="Third">Third choice</option>
                  </select><input type="text" class="form-input postcode w-input" maxlength="256" name="Postcode" data-name="Postcode" placeholder="Postcode" id="Postcode" required=""><input type="submit" value="Find Tradesmen" data-wait="Please wait..." class="button w-button"></form>
                <div class="form-success w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="form-error w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
            </div>
            <div class="review-footer">
              <div><span class="text-bold">4.95/5</span> from reviews on</div><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1646411129/Trustpilot.svg" alt="">
            </div>
          </div><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1642676845/callum-hill-oamw52SCGi0-unsplash-p-1600.jpg" loading="lazy" sizes="(max-width: 479px) 91vw, (max-width: 767px) 87vw, 83vw" srcset="https://res.cloudinary.com/dqis0vswg/image/upload/v1642676845/callum-hill-oamw52SCGi0-unsplash-p-1600.jpg" alt="" class="square-image rounded-corners shadow">
        </div>
      </div>
    </div>
  </div>
  <div class="load-second">
    <div class="quotes-div ticker-wrap">
      <div class="scrolling-quotes ticker">
        <div class="avatar-with-author adjacent-to-avatar ticker__item"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1642695772/kev-Jobes.jpg" alt="" class="avatar">
          <div class="avatar-author">
            <div class="small-text">“Punctual and good work.”</div>
            <div class="muted-text small-text">GDK Plumbing.</div>
          </div>
        </div>
        <div class="avatar-with-author adjacent-to-avatar ticker__item"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1642695437/download_10.jpg" alt="" class="avatar">
          <div class="avatar-author">
            <div class="small-text">“Beatiful decking for summer!”</div>
            <div class="muted-text small-text">Garden King.</div>
          </div>
        </div>
        <div class="avatar-with-author adjacent-to-avatar ticker__item"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1642695426/images_7.jpg" alt="" class="avatar">
          <div class="avatar-author">
            <div class="small-text">“Great job on our extension.”</div>
            <div class="muted-text small-text">ERG Builders.</div>
          </div>
        </div>
        <div class="avatar-with-author adjacent-to-avatar ticker__item"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1642695420/images_8.jpg" alt="" class="avatar">
          <div class="avatar-author">
            <div class="small-text">“Small job done well.”</div>
            <div class="muted-text small-text">Mathersons Builders.</div>
          </div>
        </div>
        <div class="avatar-with-author adjacent-to-avatar ticker__item"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1642695269/download_8.jpg" alt="" class="avatar">
          <div class="avatar-author">
            <div class="small-text">“LOVE my new floor.”</div>
            <div class="muted-text small-text">Wells Flooring.</div>
          </div>
        </div>
        <div class="avatar-with-author adjacent-to-avatar ticker__item"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1646414718/man-van-andrei-strainu-5ba0c31b956a3.png" alt="" class="avatar">
          <div class="avatar-author">
            <div class="small-text">“Hot tub wired in, thanks!”</div>
            <div class="muted-text small-text">Exceptional Electrical.</div>
          </div>
        </div>
        <div class="avatar-with-author adjacent-to-avatar ticker__item"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1646414713/0_75ff1b33-e461-46ba-ae40-25af600c401fjfif.jpg" alt="" class="avatar">
          <div class="avatar-author">
            <div class="small-text">“Kitchen was done to high spec.”</div>
            <div class="muted-text small-text">Kevin Campbell Kitchens.</div>
          </div>
        </div>
        <div class="avatar-with-author adjacent-to-avatar ticker__item"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1646414705/man-van-mark-stoneman-5bf6fa89a084a.png" alt="" class="avatar">
          <div class="avatar-author">
            <div class="small-text">“Good work done on our loft.”</div>
            <div class="muted-text small-text">Evans Joiners.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="tile-section wf-section">
      <div class="tile-section-inner bg-dark">
        <div class="w-layout-grid grid-halves">
          <div id="w-node-_3e5131c8-344e-b7e7-7af8-f6ae08d369bc-6cf0eeae" class="container">
            <h5 class="subheading text-primary-1">Truepenny means trustworthy</h5>
            <h3 class="large-heading">How it works.</h3>
            <div class="large-text">We vet tradesmen in your area and connect you to them. </div>
            <div class="button-row">
              <a href="#find-trades" class="button w-inline-block">
                <div>Request a quote</div>
              </a>
            </div>
          </div>
          <div class="square-box bg-match-text">
            <div class="w-layout-grid icons-grid-vertical">
              <div class="horizontal-icon-item"><i class="fa-solid fa-hand-pointer font-50"></i>
                <div class="horizontal-icon-text">Select what type tradesmen you are looking enter your postcode, for example a "Plumber" near "SE10 9AN".</div>
              </div>
              <div class="horizontal-icon-item"><i class="fa-solid fa-circle-check font-50"></i>
                <div class="horizontal-icon-text">We will find the top 3 tradesmen for that category in your area, for example the top 3 Plumbers near SE10 9AN.</div>
              </div>
              <div class="horizontal-icon-item"><i class="fa-solid fa-comments font-50"></i>
                <div class="horizontal-icon-text">Your vetted tradesmen will reach out to discuss the job and arrange a quote, you choose who to gets the job.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section title-section review-home-page wf-section">
      <div class="container-large">
        <h5 class="subheading text-primary-1">What customers say about our vetted tradesmen</h5>
        <h2 class="large-heading no-bottom-margin">Customer feedback.</h2>
      </div>
    </div>
    <div class="tile-section wf-section">
      <div class="tile-section-inner">
        <div class="w-layout-grid reviews-grid">
          <div class="review-box">
            <div class="stars"><i class="fa-solid fa-star blue-stop"></i><i class="fa-solid fa-star blue-stop"></i><i class="fa-solid fa-star blue-stop"></i><i class="fa-solid fa-star blue-stop"></i><i class="fa-solid fa-star blue-stop"></i></div>
            <p class="large-text review-text">“I was looking for an electrician that would do the best job on wiring up my hot tub. Jack from Exceptional Electrics did a great job, thanks Jack!”</p>
            <div class="avatar-with-author"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1646414718/man-van-andrei-strainu-5ba0c31b956a3.png" alt="" class="avatar">
              <div class="avatar-author">
                <div class="small-text">James B.</div>
                <div class="muted-text small-text">Exceptional Electrics</div>
              </div>
            </div>
            <div class="bordered-addendum dark-border">
              <h3 class="metric-addendum-heading"><i class="fa-solid fa-location-dot blue-stop"></i></h3>
              <div class="small-text">London</div>
            </div>
          </div>
          <div class="review-box">
            <div class="stars"><i class="fa-solid fa-star blue-stop"></i><i class="fa-solid fa-star blue-stop"></i><i class="fa-solid fa-star blue-stop"></i><i class="fa-solid fa-star blue-stop"></i><i class="fa-solid fa-star blue-stop"></i></div>
            <p class="large-text review-text">“We wanted a bespoke decking job doing before summer. Garden King gave us the best price and could do it in the time. The result was beautiful decking for summer!”</p>
            <div class="avatar-with-author"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1642695437/download_10.jpg" alt="" class="avatar">
              <div class="avatar-author">
                <div class="small-text">Ellen G.</div>
                <div class="muted-text small-text">Garden King</div>
              </div>
            </div>
            <div class="bordered-addendum dark-border">
              <h3 class="metric-addendum-heading"><i class="fa-solid fa-location-dot blue-stop"></i></h3>
              <div class="small-text">Birmingham</div>
            </div>
          </div>
          <div class="review-box">
            <div class="stars"><i class="fa-solid fa-star blue-stop"></i><i class="fa-solid fa-star blue-stop"></i><i class="fa-solid fa-star blue-stop"></i><i class="fa-solid fa-star blue-stop"></i><i class="fa-solid fa-star blue-stop"></i></div>
            <p class="large-text review-text">“We had a small job that needed doing on our extension, the previous builders had not done the snagging and we needed some of the remaining issues tidying... They did the job well.”</p>
            <div class="avatar-with-author"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1642695420/images_8.jpg" alt="" class="avatar">
              <div class="avatar-author">
                <div class="small-text">Sam F.</div>
                <div class="muted-text small-text">Mathersons Builders</div>
              </div>
            </div>
            <div class="bordered-addendum dark-border">
              <h3 class="metric-addendum-heading"><i class="fa-solid fa-location-dot blue-stop"></i></h3>
              <div class="small-text">Surrey</div>
            </div>
          </div>
          <div class="review-box">
            <div class="stars"><i class="fa-solid fa-star blue-stop"></i><i class="fa-solid fa-star blue-stop"></i><i class="fa-solid fa-star blue-stop"></i><i class="fa-solid fa-star blue-stop"></i><i class="fa-solid fa-star blue-stop"></i></div>
            <p class="large-text review-text">“We needed a plumber to resolve an unexplained leak. It was not an emergency but GDK were very punctual and gave a clear quote before starting work on their first visit!”</p>
            <div class="avatar-with-author"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1642695772/kev-Jobes.jpg" alt="" class="avatar">
              <div class="avatar-author">
                <div class="small-text">Alys N.</div>
                <div class="muted-text small-text">GDK Plumbing.</div>
              </div>
            </div>
            <div class="bordered-addendum dark-border">
              <h3 class="metric-addendum-heading"><i class="fa-solid fa-location-dot blue-stop"></i></h3>
              <div class="small-text">Cardiff</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tile-section wide-group wf-section">
      <div class="tile-section-inner wide-group-item grid-halves">
        <div class="horizontal-icon-item">
          <div class="square-icon bg-primary-4"><i class="fa-solid fa-stamp white-font font-50"></i></div>
          <div class="horizontal-icon-text">Truepenny is run by tradesmen, meaning we can vet every tradesman that applies to give them the stamp of approval. </div>
        </div>
        <div class="horizontal-icon-item">
          <div class="square-icon bg-primary-2"><i class="fa-solid fa-star white-font font-50"></i></div>
          <div class="horizontal-icon-text">We regularly ask customers for feedback after work is done to ensure we keep only the best on our books for customers.</div>
        </div>
      </div>
    </div>
    <div class="w-dyn-list">
      <div role="list" class="w-dyn-items">
        <div role="listitem" class="w-dyn-item">
          <div class="tile-section wf-section">
            <div class="tile-section-inner">
              <div class="w-layout-grid grid-halves">
                <div class="image-wrapper w-inline-block"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1647203203/10685aA.jpg" alt="" class="rounded-corners">
                 <!--  <div class="customer-logo-wrapper"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1646141320/Truepenny_Trades_1.png" alt="" class="customer-logo"></div> -->
                </div>
                <div class="container">
                  <h2>Meet James, one of our tradesmen.</h2>
                  <div>&quot;I love working with Truepenny, it makes it easy to connect with customers and I always commit to doing my best work for them.&quot;<br>‍</div>
                  <div class="fine-print-text text-muted">James Gillingam, Gillinghams Painters & Decorators</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--       <div class="empty-state w-dyn-empty">
        <div>There are no published case studies.</div>
      </div> -->
    </div>
    <div class="section wf-section">
      <div class="container-large">
        <div class="container-large reduced-width align-left">
          <h2 class="section-title"><span class="text-primary-1">Heard enough?</span> Find the best local tradesmen now.</h2>
        </div>
        <div id="Subscribe-Form-1" class="w-form">
          <form id="wf-form-Subscribe-Form-1" name="wf-form-Subscribe-Form-1" data-name="Subscribe Form 1" method="get" class="form-horizontal"><select id="Category-3" name="Category-3" data-name="Category 3" class="form-input inline w-select">
              <option value="">Trade Category</option>
              <option value="First">First choice</option>
              <option value="Second">Second choice</option>
              <option value="Third">Third choice</option>
            </select><input type="text" class="form-input inline w-input" maxlength="256" name="Postcode-2" data-name="Postcode 2" placeholder="Postcode" id="Postcode-2" required=""><input type="submit" value="Find Tradesmen" data-wait="Please wait..." class="button inline w-button"></form>
          <div class="form-success w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="form-error w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  var marquee = $('div.marquee');
marquee.each(function() {
    var mar = $(this),indent = mar.width();
    mar.marquee = function() {
        indent--;
        mar.css('text-indent',indent);
        if (indent < -1 * mar.children('div.marquee-text').width()) {
            indent = mar.width();
        }
    };
    mar.data('interval',setInterval(mar.marquee,1000/60));
})

</script>
