<section class="section hero-v2 wf-section">
  <div class="position-relative z-index-1">
    <div class="container-small-580px text-center margin-bottom-large">
      <h1 data-w-id="9f985514-f36a-a8e9-4716-94edea79854a" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">The ultimate employee retention tool.</h1>
      <p data-w-id="481eeb74-83d7-598c-fa2d-62142c21e066" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="margin-bottom-40px"><span>As work more goes remote PlaceX workplace opens up spaces to enable your employees to work from anywhere.<br></span></p>
      <div data-w-id="8e18463c-f1be-030f-2f8f-9e1dc54f6f9f" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="flex buttons center">
        <div class="split-content button-row-first">
          <a href="#" class="button-primary w-button">Get in touch</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-default position-relative z-index-1 w-container">
    <div data-w-id="617e9434-0b7f-a0fc-747e-ca5505358d46" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="flex position-relative">
      <div class="image-wrapper borders-radius-12px hero-v2-image-1"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9084516e499ff_image-1-hero-v2-realtor-template.jpg" loading="eager" sizes="(max-width: 767px) 83vw, (max-width: 991px) 85vw, (max-width: 1919px) 86vw, 1130.296875px" srcset="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9084516e499ff_image-1-hero-v2-realtor-template-p-500.jpeg 500w, https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9084516e499ff_image-1-hero-v2-realtor-template-p-800.jpeg 800w, https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9084516e499ff_image-1-hero-v2-realtor-template-p-1600.jpeg 1600w, https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9084516e499ff_image-1-hero-v2-realtor-template.jpg 2258w" alt="Real Agent - Realtor X Webflow Template" class="image cover"></div>
      <div class="image-wrapper borders-radius-12px hero-v2-image-2"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9087a29e499fe_image-2-hero-v2-realtor-template.jpg" loading="eager" sizes="(max-width: 991px) 49vw, (max-width: 1919px) 50vw, 660.3984375px" srcset="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9087a29e499fe_image-2-hero-v2-realtor-template-p-500.jpeg 500w, https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9087a29e499fe_image-2-hero-v2-realtor-template-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9087a29e499fe_image-2-hero-v2-realtor-template.jpg 1312w" alt="Real Estate - Realtor X Webflow Template" class="image cover"></div>
    </div>
  </div>
  <div class="position-absolute bg-neutral-200 hero-v2"></div>
</section>

<section class="section overflow-hidden wf-section">
  <div class="container-default w-container">
    <div data-w-id="e00b818a-57cd-6598-e2cd-9cae581895fd" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content-wrapper margin-bottom-default">
      <div class="split-content slider-perks-top-left">
        <h2 class="margin-bottom-0px">How it works.<span class="text-breaking-no-wrap"></span></h2>
      </div>
      <div class="split-content slider-perks-top-right">
        <p class="margin-bottom-0px">Give your employees access to beautiful holiday homes to work from.</p>
      </div>
    </div>
    <div data-delay="4000" data-animation="slide" class="slider w-slider" data-autoplay="false" data-easing="ease" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" data-hide-arrows="true" data-disable-swipe="false" data-w-id="6f316f70-c5a9-b9c8-df71-7b93a426a392" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
      <div class="mask slider-perks w-slider-mask">
        <div class="slide w-slide">
          <div class="slide-perk-wrapper">
            <div class="image-wrapper borders-radius-12px margin-bottom-40px"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template.jpg" loading="eager" sizes="(max-width: 479px) 93vw, (max-width: 767px) 90vw, 514px" srcset="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template-p-500.jpeg 500w, https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template.jpg 1028w" alt="Pool - Realtor X Webflow Template" class="image cover"></div>
            <div class="slide-perk-content">
              <h3 class="margin-bottom-12px">Curated properties.</h3>
              <p class="margin-bottom-0px">We hand pick the best properties and allow our clients to own, co-own or rent them.<span class="text-breaking-no-wrap"></span></p>
            </div>
          </div>
        </div>
        <div class="slide w-slide">
          <div class="slide-perk-wrapper">
            <div class="image-wrapper borders-radius-12px margin-bottom-40px"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template.jpg" loading="eager" sizes="(max-width: 479px) 93vw, (max-width: 767px) 90vw, 514px" srcset="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template-p-500.jpeg 500w, https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template.jpg 1028w" alt="Pool - Realtor X Webflow Template" class="image cover"></div>
            <div class="slide-perk-content">
              <h3 class="margin-bottom-12px">Workplace Access. </h3>
              <p class="margin-bottom-0px">Allow your employees to book our curated list of managed properties for one night or 28 to work from remotely.<span class="text-breaking-no-wrap"></span></p>
            </div>
          </div>
        </div>
        <div class="slide w-slide">
          <div class="slide-perk-wrapper">
            <div class="image-wrapper borders-radius-12px margin-bottom-40px"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template.jpg" loading="eager" sizes="(max-width: 479px) 93vw, (max-width: 767px) 90vw, 514px" srcset="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template-p-500.jpeg 500w, https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template.jpg 1028w" alt="Pool - Realtor X Webflow Template" class="image cover"></div>
            <div class="slide-perk-content">
              <h3 class="margin-bottom-12px">Full or joint ownership.</h3>
              <p class="margin-bottom-0px">Join likeminded companies and individuals to buy a share in or all of a holiday property your staff can work from.<span class="text-breaking-no-wrap"></span></p>
            </div>
          </div>
        </div>
        <div class="slide w-slide">
          <div class="slide-perk-wrapper">
            <div class="image-wrapper borders-radius-12px margin-bottom-40px"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template.jpg" loading="eager" sizes="(max-width: 479px) 93vw, (max-width: 767px) 90vw, 514px" srcset="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template-p-500.jpeg 500w, https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template.jpg 1028w" alt="Pool - Realtor X Webflow Template" class="image cover"></div>
            <div class="slide-perk-content">
              <h3 class="margin-bottom-12px">The best workation spaces.</h3>
              <p class="margin-bottom-0px">We work with all our listings to ensure the best facilities to enable work, from good wifi to zen desk space.<span class="text-breaking-no-wrap"></span></p>
            </div>
          </div>
        </div>
        <div class="slide w-slide">
          <div class="slide-perk-wrapper">
            <div class="image-wrapper borders-radius-12px margin-bottom-40px"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template.jpg" loading="eager" sizes="(max-width: 479px) 93vw, (max-width: 767px) 90vw, 514px" srcset="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template-p-500.jpeg 500w, https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template.jpg 1028w" alt="Pool - Realtor X Webflow Template" class="image cover"></div>
            <div class="slide-perk-content">
              <h3 class="margin-bottom-12px">Managed to perfection.</h3>
              <p class="margin-bottom-0px">We manage all PlaceX homes with care handling property maintenance and concierge for every stay.<span class="text-breaking-no-wrap"></span></p>
            </div>
          </div>
        </div>
        <div class="slide w-slide">
          <div class="slide-perk-wrapper">
            <div class="image-wrapper borders-radius-12px margin-bottom-40px"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template.jpg" loading="eager" sizes="(max-width: 479px) 93vw, (max-width: 767px) 90vw, 514px" srcset="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template-p-500.jpeg 500w, https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template.jpg 1028w" alt="Pool - Realtor X Webflow Template" class="image cover"></div>
            <div class="slide-perk-content">
              <h3 class="margin-bottom-12px">Spacious co-working space</h3>
              <p class="margin-bottom-0px">Lorem ipsum dolor sit amet consectetur adipiscing elit mi lobortis gravida ornare leo in at <span class="text-breaking-no-wrap">in egestas.</span></p>
            </div>
          </div>
        </div>
        <div class="slide w-slide">
          <div class="slide-perk-wrapper">
            <div class="image-wrapper borders-radius-12px margin-bottom-40px"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template.jpg" loading="eager" sizes="(max-width: 479px) 93vw, (max-width: 767px) 90vw, 514px" srcset="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template-p-500.jpeg 500w, https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template.jpg 1028w" alt="Pool - Realtor X Webflow Template" class="image cover"></div>
            <div class="slide-perk-content">
              <h3 class="margin-bottom-12px">Coffee shop</h3>
              <p class="margin-bottom-0px">Lorem ipsum dolor sit amet consectetur adipiscing elit mi lobortis gravida ornare leo in at <span class="text-breaking-no-wrap">in egestas.</span></p>
            </div>
          </div>
        </div>
        <div class="slide w-slide">
          <div class="slide-perk-wrapper">
            <div class="image-wrapper borders-radius-12px margin-bottom-40px"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template.jpg" loading="eager" sizes="(max-width: 479px) 93vw, (max-width: 767px) 90vw, 514px" srcset="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template-p-500.jpeg 500w, https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9089c13e49a07_image-1-perks-slider-realtor-template.jpg 1028w" alt="Pool - Realtor X Webflow Template" class="image cover"></div>
            <div class="slide-perk-content">
              <h3 class="margin-bottom-12px">Indoor Gym with sauna</h3>
              <p class="margin-bottom-0px">Lorem ipsum dolor sit amet consectetur adipiscing elit mi lobortis gravida ornare leo in at <span class="text-breaking-no-wrap">in egestas.</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-left-arrow v3 w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="slider-right-arrow v3 w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="slide-nav w-slider-nav w-round"></div>
    </div>
  </div>
</section>


<section class="section position-relative section-big-image wf-section">
  <div class="container-default section-big-image w-container">
    <div class="mobile-max-width-660px mobile-center-element">
      <div class="split-content-wrapper">
        <div data-w-id="143072a1-656d-3e48-f829-03c2e1597803" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content section-image-content-left">
          <h2>PlaceX workplace benefits.</h2>
          <p class="margin-bottom-34px">The ultimate employee perk and investment opportunity for innovative employers.</p>
          <div class="w-layout-grid grid-1-column">
            <div class="flex"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f908141ae49a18_icon-1-check-realtor-template.svg" loading="eager" alt="Check Icon - Realtor X Webflow Template" class="image feature-icon">
              <div class="text-200 text-neutral-700">Give employees the ability to work from anywhere.</div>
            </div>
            <div class="flex"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f908141ae49a18_icon-1-check-realtor-template.svg" loading="eager" alt="Check Icon - Realtor X Webflow Template" class="image feature-icon">
              <div class="text-200 text-neutral-700">Better retain your best remote or hybrid talent.</div>
            </div>
            <div class="flex"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f908141ae49a18_icon-1-check-realtor-template.svg" loading="eager" alt="Check Icon - Realtor X Webflow Template" class="image feature-icon">
              <div class="text-200 text-neutral-700">Benefit from rising property prices with ownership.</div>
            </div>
            <div class="flex"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f908141ae49a18_icon-1-check-realtor-template.svg" loading="eager" alt="Check Icon - Realtor X Webflow Template" class="image feature-icon">
              <div class="text-200 text-neutral-700">Reward your hard working employees.</div>
            </div>
            <div class="flex"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f908141ae49a18_icon-1-check-realtor-template.svg" loading="eager" alt="Check Icon - Realtor X Webflow Template" class="image feature-icon">
              <div class="text-200 text-neutral-700">Fully managed properties and service.</div>
            </div>
            <div class="flex"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f908141ae49a18_icon-1-check-realtor-template.svg" loading="eager" alt="Check Icon - Realtor X Webflow Template" class="image feature-icon">
              <div class="text-200 text-neutral-700">Stand out from other employers to attract talent.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="image-wrapper position-absolute section-image-right"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9082efae49a19_image-perks-realtor-template.jpg" loading="eager" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" data-w-id="4a410718-534f-7d64-fa07-496ed529cc65" srcset="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9082efae49a19_image-perks-realtor-template-p-500.jpeg 500w, https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9082efae49a19_image-perks-realtor-template.jpg 1440w" sizes="(max-width: 991px) 100vw, 50vw" alt="House Real Estate - Realtor X Webflow Template" class="image cover"></div>
</section>
<section class="section position-relative section-big-image wf-section">
  <div class="container-default section-big-image w-container">
    <div class="mobile-max-width-660px mobile-center-element">
      <div class="split-content-wrapper">
        <div data-w-id="a52a9fbc-1e8b-7359-8f90-41da5e6715c4" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content section-big-image-content-right">
          <h2>About <span class="text-breaking-no-wrap">PlaceX</span></h2>
          <p class="margin-bottom-40px"><span>PlaceX enables individuals and companies to rent or own part or all of our exclusive holiday properties for investment, holiday use or remote working. <br><br>We oversee property search, purchase, fractional ownership structures, legal agreements, short term letting &amp; subletting, property management, maintenance and booking technology.<br><br>Our aim with workplace is to improve remote working for all and reduce remote working monotony.</span></p>
          <div class="margin-bottom-small-v2">
            <div class="max-width-476px">
              <div class="w-layout-grid grid-2-columns style-2">
                <div class="achievement-wrapper">
                  <div class="margin-bottom-10px">
                    <div class="h1-size text-medium text-primary-1">180%</div>
                  </div>
                  <div class="text-200 bold text-neutral-800">2021 increase in remote work </div>
                </div>
                <div class="achievement-wrapper">
                  <div class="margin-bottom-10px">
                    <div class="h1-size text-medium text-primary-1">300+</div>
                  </div>
                  <div class="text-200 bold text-neutral-800">PlaceX rental properties</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="image-wrapper position-absolute section-image-left"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f908fd2ee49a1a_image-about-section-v2-realtor-template.jpg" loading="eager" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" data-w-id="a390926b-b834-b6f5-1eae-a3de11336098" alt="Real Agent - Realtor X Webflow Template" class="image cover"></div>
</section>
<section class="section bg-neutral-200 wf-section">
  <div class="container-default w-container">
    <div class="mobile-max-width-660px mobile-center-element">
      <div class="split-content-wrapper">
        <div data-w-id="7266e093-2424-e253-c1b3-5ba8266bf6c1" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content contact-section-left">
          <div class="mobile-478px-and-down-max-width-320px mobile-478px-and-down-center-element">
            <h2>Get in touch to discuss PlaceX for your team.<span class="text-breaking-no-wrap"></span></h2>
          </div>
          <p class="margin-bottom-26px">Ready to improve employee retention and productivity?</p>
          <div class="w-layout-grid grid-1-column">
            <a href="mailto:contact@realtor.com" class="card card-link card-contact-section w-inline-block">
              <div class="image-wrapper card-contact-section-icon"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f908befde49a1c_icon-2-contact-link-realtor-template.svg" loading="eager" alt="Email Icon - Realtor X Webflow Template" class="image cover"></div>
              <div class="card-contact-section-content">
                <div class="margin-bottom-6px">
                  <h3 class="text-200 text-neutral-600 margin-bottom-0px">Send us a email</h3>
                </div>
                <div class="h3-size">contact@realtor.com</div>
              </div>
            </a>
          </div>
        </div>
        <div data-w-id="3d4cd5f3-d29b-fbd3-d08f-6160f8330fcf" style="-webkit-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content contact-section-right">
          <div class="card card-contact-section-form">
            <div class="contact-section-form-block w-form">
              <form id="contact-section-form" name="wf-form-Contact-Section-Form" data-name="Contact Section Form" method="get" class="contact-section-form"><input type="text" class="input add-icon name-icon w-input" maxlength="256" name="name" data-name="Name" placeholder="Full name" id="name" required=""><input type="email" class="input add-icon email-icon w-input" maxlength="256" name="Email" data-name="Email" placeholder="Email" id="email" required=""><input type="tel" class="input add-icon phone-icon w-input" maxlength="256" name="Phone" data-name="Phone" placeholder="Phone" id="phone" required=""><input type="text" class="input add-icon apartment-icon w-input" maxlength="256" name="Apartment" data-name="Apartment" placeholder="Apartment type" id="apartment" required="">
                <div id="w-node-_87c2cb88-4b5f-15dd-67fc-ad1695554fe9-22a1e698" class="input-wrapper"><textarea placeholder="Please write any additional note here..." maxlength="5000" id="message" name="Message" data-name="field" class="text-area w-input"></textarea></div>
                <div id="w-node-_599965c4-acc3-7572-cab5-6d368ba9655c-22a1e698" class="contact-form-bottom-wrapper">
                  <div class="split-content contact-form-bottom-left"><input type="submit" value="Send message" data-wait="Please wait..." class="button-primary bg-primary-1 w-button"></div>
                  <div class="split-content contact-form-bottom-right">
                    <div class="flex children-wrap social-media-spacing-18px">
                      <div class="social-media-link-wrapper spacing-18px">
                        <a href="https://www.facebook.com/" target="_blank" class="social-media-link"></a>
                      </div>
                      <div class="social-media-link-wrapper spacing-18px">
                        <a href="https://twitter.com/" target="_blank" class="social-media-link icon-size-14px"></a>
                      </div>
                      <div class="social-media-link-wrapper spacing-18px">
                        <a href="https://www.instagram.com/" target="_blank" class="social-media-link"></a>
                      </div>
                      <div class="social-media-link-wrapper spacing-18px">
                        <a href="https://www.whatsapp.com/" target="_blank" class="social-media-link icon-size-17px"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="success-message no-box w-form-done">
                <div class="flex center mobile-vertical-direction"><img src="https://uploads-ssl.webflow.com/625417fd90f908c4cee499a6/625417fe90f9083992e499fa_icon-success-message-realtor-template.svg" loading="eager" alt="Success Icon - Realtor X Webflow Template" class="image success-message-icon">
                  <div class="success-message-text">Your message has been submitted. <br>We will get back to you within 24-48 hours.</div>
                </div>
              </div>
              <div class="error-message w-form-fail">
                <div>Oops! Something went wrong.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>