<div class="section hero wf-section">
  <div class="container w-container">
    <h1 class="heading">The quick and secure way for anyone to pay tradesmen<span class="blue-stop">.</span></h1>
    <p class="paragraph-3">Designed for both customers and tradesmen, for any size job<span class="blue-stop">.</span></p>
  </div>
  <div class="container-2 w-container">
    <%= link_to new_job_payment_path, class: "button w-button" do %>
      Start Job Payment
    <% end %>
    <a href="https://paythetrade.trustshare.co/", class="button green-button w-button"> Manage Payments</a>
  </div>
  <div class="container-4 w-container"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1638313009/undraw_under_construction_46pa-removebg-preview.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 673px) 94vw, 633px" srcset="https://res.cloudinary.com/dqis0vswg/image/upload/v1638313009/undraw_under_construction_46pa-removebg-preview.png" alt=""></div>
</div>
<div data-anchor="slide1" class="section grey">
  <div class="w-container">
    <h2 class="grey-heading">How it works<span class="blue-stop">.</span></h2>
  </div>
  <div class="container-3 w-container"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1638352110/undraw_Vault_re_s4my-removebg-preview.png" loading="lazy" sizes="(max-width: 479px) 79vw, (max-width: 991px) 87vw, 705px" srcset="https://res.cloudinary.com/dqis0vswg/image/upload/v1638352110/undraw_Vault_re_s4my-removebg-preview.png" alt="">
    <p class="paragraph-2">Customers pay into our <strong>secure online deposit box</strong> at the start of a job, money is released when agreed milestones are hit or at the end of the job<span class="blue-stop">.</span></p>
  </div>
</div>
<section id="feature-section" class="feature-section wf-section">
  <div class="flex-container w-container">
    <div class="feature-image-mask hard-hat-div"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1638353108/HardHat1.png" sizes="(max-width: 479px) 73vw, (max-width: 767px) 95vw, (max-width: 991px) 345.84375px, 509.5625px" srcset="https://res.cloudinary.com/dqis0vswg/image/upload/v1638353108/HardHat1.png" alt="" class="feature-image hard-hat"></div>
    <div>
      <h2 class="grey-heading">Benefits for tradesmen<span class="blue-stop">.</span></h2>
      <ul role="list" class="home-list">
        <li class="list-item">Ensure customers have the money <strong>before</strong> starting a job<span class="blue-stop">.</span></li>
        <li class="list-item">Reduce late and non-payments for work completed<span>.</span></li>
        <li class="list-item">Fair dispute resolution service provided in the event of customer disputes<span class="blue-stop">.</span></li>
      </ul>
    </div>
  </div>
</section>
<section id="feature-section" class="feature-section gray-feature wf-section">
  <div class="flex-container w-container">
    <div>
      <h2 class="grey-heading">Benefits for customers<span class="blue-stop">.</span></h2>
      <ul role="list" class="home-list">
        <li class="list-item">Agree terms upfront and only pay when work done<span class="blue-stop">.</span></li>
        <li class="list-item">Protect against &#x27;rogue&#x27; and &#x27;cowboy&#x27; traders<span>.</span></li>
        <li class="list-item">Fair dispute resolution service provided in the event of disputes<span class="blue-stop">.</span></li>
      </ul>
    </div>
    <div class="feature-image-mask"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1638353364/Customer-removebg-preview.png" alt="" class="feature-image reverse-feature-image"></div>
  </div>
</section>
<div class="section">
  <div class="w-container">
    <h2 class="grey-heading">The Pricing<span class="blue-stop">.</span></h2>
    <p class="paragraph-4">2% of the cost of the job, with 1% paid by the customer and 1% paid by the tradesman<span class="blue-stop">. </span></p>
    <div class="image-crop"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1638353636/undraw_Online_payments_re_y8f2.png" loading="lazy" width="400" sizes="(max-width: 479px) 100vw, 400px" srcset="https://res.cloudinary.com/dqis0vswg/image/upload/v1638353636/undraw_Online_payments_re_y8f2.png" alt=""></div>
    <p class="paragraph-4 example-pg"><strong class="bold-text">Example:</strong><em> for </em><em class="italic-text">a landscape gardening project costing £1,000 the customer deposits £1,010 and the tradesman withdraws £990</em><span class="blue-stop">. </span></p>
  </div>
</div>
<div class="section gray-background">
  <div class="w-container">
    <h2 class="grey-heading">Trust built in<span class="blue-stop">.</span></h2>
    <p class="paragraph-4">Customers and tradesmen can now transact with more trust. Tradesmen knowing the money is there, and customers knowing that money will only be released when work is done<span class="blue-stop">.</span></p>
  </div>
</div>
<div class="social-section wf-section">
  <div class="w-container">
    <h2 class="grey-heading">Ready to start a job?</h2>
    <p class="paragraph-4">Customer or a tradesman? Start a job payment below to transact with peace of mind<span class="blue-stop">.</span></p>
  </div>
  <div class="container-2 w-container">
    <%= link_to new_job_payment_path, class: "button w-button" do %>
      Start Job Payment
    <% end %>
    <a href="https://placer-it.sandbox.trustshare.co/", class="button green-button w-button"> Manage Payments</a>
  </div>
</div>

<div id='new-job-content'></div>

