<div class="section hero wf-section">
  <div class="container w-container">
    <h1 class="heading">Always get paid for good work<span class="blue-stop">.</span></h1>
    <p class="paragraph-3">Use Pay The Trade to stay safe and avoid losing money<span class="blue-stop">.</span></p>
  </div>
  <div class="container-2 w-container">
    <%= link_to new_job_payment_path, class: "button w-button" do %>
      Start Job Payment
    <% end %>
    <a href="https://placer-it.sandbox.trustshare.co/", class="button green-button w-button"> Manage Payments</a>
  </div>
</div>
<div class="section">
  <div class="w-container">
    <h2 class="grey-heading">How it works for tradesmen<span class="blue-stop">.</span></h2>
  </div>
  <div class="w-container"><img src="https://res.cloudinary.com/dqis0vswg/image/upload/v1638354696/Timeline-for-tradesmen-3.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px" srcset="https://res.cloudinary.com/dqis0vswg/image/upload/v1638354696/Timeline-for-tradesmen-3.png" alt=""></div>
</div>
<div class="section gray-background">
  <div class="w-container">
    <h2 class="grey-heading">End late and non-payments<span class="blue-stop">.</span></h2>
    <p class="paragraph-4">10,000 construction companies a year go under thanks to late and non-payment, Pay The Trade keeps customers honest<span class="blue-stop">.</span></p>
  </div>
</div>
<div class="social-section wf-section">
  <div class="w-container">
    <h2 class="grey-heading">Ready to start a job?</h2>
    <p class="paragraph-4">Sign up and start a job payment below to transact with peace of mind<span class="blue-stop">.</span></p>
  </div>
  <div class="container-2 w-container">
    <%= link_to new_job_payment_path, class: "button w-button" do %>
      Start Job Payment
    <% end %>
    <a href="https://placer-it.sandbox.trustshare.co/", class="button green-button w-button"> Manage Payments</a>
  </div>
</div>
