.accordion-button:not(.collapsed){
  color: #247ba0 !important;
  background-color: white !important;
}

.accordion-button:focus {
    z-index: 3 !important;
    border-color: #86b7fe !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.25rem rgba(242, 242, 242, 0.7) !important;
  }

.accordion-button {
  font-family: Spartan, sans-serif;
  color: rgba(0, 0, 0, 0.4) !important;
}

.accordion-body {
  font-family: Spartan, sans-serif;
  color: rgba(0, 0, 0, 0.5) !important;
  text-align: left;
}

// .pad-all {
//     padding: 15px;
// }
// .text-thin {
//     font-weight: 300;
// }
// .bord-btm {
//     border-bottom: 1px solid #e9e9e9;
// }
