.button {
  text-decoration: none !important;
}

p{
  color: rgba(0, 0, 0, 0.45) !important;
}

body {
  color: rgba(0, 0, 0, 0.45) !important;
}

h1, h2, h3, h4, h5, h6{

    font-family: Spartan, sans-serif !important;
    color: rgba(0, 0, 0, 0.56) !important;
    text-shadow: none !important;

}

// webflow corrections


// optimise home images for mobile

  @media screen and (max-width: 479px){
      .feature-image.hard-hat {
    width: 40% !important;
  }
   .feature-image-mask.hard-hat-div{
    padding-bottom: 40px !important;
   }
   .reverse-feature-image{
      margin-right: 0px !important;
      width: 40% !important;
      margin-bottom: -40px !important;
   }
  }


  @media screen and (max-width: 479px){
    .credit-card-image {
      max-width: 70%;
   }
  }
