.hero-v2-image-1 {
  max-height: 800px;
}


.image-wrapper.borders-radius-12px.hero-v2-image-2{
  max-height: 650px;
}

#ski-chalet-image {
  height: 100%;
}

.alert{
  width: 100%;
  background-color: #F85757;
  color: white;
  font-family: Thicccboi, sans-serif;
  padding: 5px;
}

.alert button{
  background-color: #F85757;
}

.padding-20{
  padding: 20px;
}
